/* Generic style */

/* */
/*
.gwt-Button {
  font-size: 150%;
}
*/

/* Custom style */

/* */
.gwt-wyona-AddRemoveWidget {
  margin: 20px;
  font-size: 300%;
*/

/* */
/*
.gwt-wyona-SaveButton {
  font-size: 300%;
  width: 200px;
}
*/

/* */
/*
.gwt-wyona-CancelButton {
  font-size: 300%;
  width: 200px;
}
*/
