# local Yanel configurations
src/webapp/WEB-INF/local.web.xml
conf/local

# local Tomcat installation and Yanel logs
local
logs

# Yanel build directory
/build

# Index files
*.cfs
*.gen
segments_*

# Yarep meta files
*.yarep
yarep-meta/

# local Yanel build configuration
src/build/local.build.properties

# build directories of resources
*/*/*/build
*/*/*/*/build

# local Canoo build configurations
src/realms/yanel-website/src/test/canoo/local.build.properties
src/realms/use-cases/yanel/src/test/canoo/local.build.properties

# Canoo results
src/realms/use-cases/yanel/src/test/canoo/results/
src/realms/yanel-website/src/test/canoo/results/
