# local configurations
src/webapp/WEB-INF/local.web.xml
conf/local

# build directories
build
#src/resources/xml/build
#src/resources/workflow-dashboard/build
#src/resources/user-mgmt/build/

# canoo local build configurations
src/realms/yanel-website/src/test/canoo/local.build.properties
src/realms/use-cases/yanel/src/test/canoo/local.build.properties

# canoo results
src/realms/use-cases/yanel/src/test/canoo/results/
src/realms/yanel-website/src/test/canoo/results/
