*{
  font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
  font-size:13px
}
body  { 
  margin-top:10px; 
  background-color:#ffffff;
  text-align:center;
} 

#bodytable { 
  text-align:left;
  background-color:#f7f7f7; 
  border:0px;
  width:90%;
  margin-left: auto; margin-right: auto;
} 

#header  { 
  background-color:#4682B4; 
  height:35px;
  margin:0px; 
  padding:0px
} 

#logo  { 
  margin-left:10px; 
  border:0px 
} 

#lead  { 
  margin-bottom:4px; 
  margin-left:10px;
  border:0px
} 

#content  { 
  border-style:solid; 
  border-color:#d8dfea;
  border-width:1px; 
  margin:5px; 
  padding:5px;
  padding-left:10px; 
  background-color:#ffffff;
  height:100%;
  font-size:12px
} 

#footer  { 
  border-top:solid 1px #d8dfea;
  border-bottom:solid 1px #d8dfea;
  font-size:11px; 
  padding-top:2px;
  padding-bottom:4px;
  padding-left:10px;
} 

#navigation  { 
  margin:5px; 
  padding:10px;
  font-size:12px
} 

.searchbox  { 
  vertical-align:middle;
  border:solid 1px #999999; 
  margin-right:10px
} 

hr {
  border: 0;
  color:#4682B4;
  background-color:#4682B4;
  height: 1px;
}

a  { 
  color:#0066cc; 
  text-decoration:none
} 

a:hover  { 
  text-decoration:underline; 
  color:#3366cc
} 

a:visited  { 
  text-decoration:none; 
  color:#777777
} 

a:visited:hover  { 
  text-decoration:underline; 
  color:#777777
} 

table .sortable th  { 
  cursor:pointer; 
}

#content table  { 
  border-collapse:collapse;
  border-color:#999999
} 

#content td { 
  border:1px solid;
  border-color:#999999;
  padding:2px;
}

#content th { 
  border:1px solid;
  border-color:#999999;
  background-color:#f7f7f7;
  padding:2px;
}

#content h1 { 
  font-size:x-large;
}
#content h2 { 
  font-size:large;
}
#content h3 { 
  font-size:medium;
}

div.language_choice{
  text-align:right;
  font-size:smaller;
  width:auto;
  float:right;
}
