<?xml version="1.0"?>

<yanel:resource-config xmlns:yanel="http://www.wyona.org/yanel/rti/1.0">
  <yanel:rti name="resource-creator" namespace="http://www.wyona.org/yanel/resource/1.0"/>

  <yanel:custom-config>
    <rc:resource-types xmlns:rc="http://www.wyona.org/yanel/resource/resource-creator/1.0">
      <rc:resource-type name="wiki" namespace="http://www.wyona.org/yanel/resource/1.0">
        <rc:property name="xslt" value="/xslt/global.xsl"/>
      </rc:resource-type>

      <rc:resource-type name="xml" namespace="http://www.wyona.org/yanel/resource/1.0">
        <rc:property name="xslt" value="/xslt/global.xsl"/>
        <rc:property name="mime-type" value="application/xhtml+xml"/>
      </rc:resource-type>
      <rc:resource-type name="yanel-user" namespace="http://www.wyona.org/yanel/resource/1.0"/>
    </rc:resource-types>
  </yanel:custom-config>
</yanel:resource-config>
