<?xml version="1.0"?>

<yanel:resource-config xmlns:yanel="http://www.wyona.org/yanel/rti/1.0">
  <yanel:rti name="directory" namespace="http://www.wyona.org/yanel/resource/1.0">
  <yanel:custom-config>
    <dr:xslt src="/xslt/1.xsl" xmlns:dr="http://www.wyona.org/yanel/resource/directory-resource/1.0"/>
    <dr:xslt src="/xslt/2.xsl" xmlns:dr="http://www.wyona.org/yanel/resource/directory-resource/1.0"/>
    <dr:xslt src="/xslt/3.xsl" xmlns:dr="http://www.wyona.org/yanel/resource/directory-resource/1.0"/>

    <dr:pipeline xmlns:dr="http://www.wyona.org/yanel/resource/directory-resource/1.0"/>
      <dr:generate src=""/>
      <dr:transform src=""/>
      <dr:transform src=""/>
      <dr:serialize type=""/>
    </dr:pipeline>
  </yanel:custom-config>
</yanel:resource-config>
