<?xml version="1.0"?>

<yanel:resource-config xmlns:yanel="http://www.wyona.org/yanel/resource-config/1.0">
  <yanel:rti name="nutch" namespace="http://www.wyona.org/yanel/resource/1.0"/>

  <yanel:property name="global-xslt" value="/xslt/global.xsl"/>
<!--
  <yanel:property name="i18n-bundle-name" value="nutch"/>
-->
  <yanel:property name="nutch-config" value="file:/home/michi/src/wyona/public/yanel/trunk/src/realms/yanel-website/content/nutch-config/nutch-local-yanel-ml-development.xml"/>

  <yanel:custom-config xmlns:nr="http://www.wyona.org/yanel/resource/nutch-resource/1.0">
    <nr:configs>
      <nr:config name="ml-usage" src="file:/home/michi/src/wyona/public/yanel/trunk/src/realms/yanel-website/content/nutch-config/nutch-local-yanel-ml-usage.xml"/>
      <nr:config name="ml-development" src="file:/home/michi/src/wyona/public/yanel/trunk/src/realms/yanel-website/content/nutch-config/nutch-local-yanel-ml-development.xml"/>
    </nr:configs>

    <nr:groups>
      <nr:group name="usage" label="Usage" i18n-key="mlusage">
        <nr:nutch-config name="ml-usage"/>
      </nr:group>
      <nr:group name="dev" label="Development" i18n-key="mldevelopment">
        <nr:nutch-config name="ml-development"/>
      </nr:group>
      <nr:group name="all" label="All Lists" i18n-key="all-lists">
        <nr:nutch-config name="ml-usage"/>
        <nr:nutch-config name="ml-development"/>
      </nr:group>
    </nr:groups>
  </yanel:custom-config>
</yanel:resource-config>
