<?xml version="1.0"?>

<yanel:resource-config xmlns:yanel="http://www.wyona.org/yanel/rti/1.0">
  <yanel:rti name="xml" namespace="http://www.wyona.org/yanel/resource/1.0"/>

  <yanel:property name="mime-type" value="application/xml"/>

<!-- -->
  <yanel:property name="xslt" value="/xslt/roadmap2events.xsl"/>
  <yanel:property name="yanel-path" value="/roadmap-2.xml"/>
<!-- -->
  <!--<yanel:property name="yanel-path" value="/roadmap.xml"/>-->

  <yanel:property name="workflow-schema" value="/workflow/workflow-with-review.xml"/>
</yanel:resource-config>
