html,
body {
	margin:0 !important;
	padding:0;
	height:100%; /* 100 % height */
}
html>body #headerwrap {height:23px;} /* 100 % height */
#headerwrap {
	width:100%;
	height:23px;
	background:lightgrey;
	border-bottom:1px solid #888;
}
html>body #headerwrap {
	position:fixed;
	top:0px;
	z-index:10000; /* Prevent certain problems with form controls */
}
html>body #middlewrap {height:100%;padding:23px 1em;} /* 100 % height */
/* toolbar style ends here */

#toolbar_logo{
  position: absolute;
  right:15px;
  float:right;
  top:0px;
}

#user {
  position: absolute;
  right: 100px;
  float: right;
  top: 3px;
}

/* menu style starts here */
#menu{
  width:100%;
  float:left;
  margin-top:0px;
  margin-left:6px;
  text-align:left;
}

#menu a, #menu #menutitle{
  display:block;
  color:#000;
  white-space:nowrap;
  margin:0;
}

#menu a{
  text-decoration:none;
}

#menu a, #menu a:visited{
  color:#000;
}

#menu a:hover{
  color:#000;
}

#menu a:active{
  color:#060;
  background:#ccc;
}

#menu ul{
  left:-1px;
  list-style:none;
  margin:0px;
  padding:0px;
  float:left;
  width:9em;
}

#menu li{
  position:relative;
  margin:1px;
  padding:2px;
}

#menu li li{
  background:lightgrey;
  padding:4px;
}

#menu ul ul{
  position:absolute;
  z-index:500;
  top:auto;
  display:none;
  background:#888;
}

#menu ul ul ul{
  top:-1px;
  left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menu #menutitle:hover,div#menu ul:hover{
  color:#000;
}

div#menu li:hover{
  cursor:pointer;
  z-index:500;
  background:lightsteelblue;
}

div#menu li:hover ul ul,
div#menu li li:hover ul ul,
div#menu li li li:hover ul ul,
div#menu li li li li:hover ul ul
{display:none;}

div#menu li:hover ul,
div#menu li li:hover ul,
div#menu li li li:hover ul,
div#menu li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand 

#menu a.x, #menu a.x:visited{
color:#000;
}
#menu a.x:hover{
color:#a00;
}
*/
#menu a.x:active{
  color:#060;
  background:#ccc;
}

/*
#menu #menutitle, #menu a{
  height:10%;
}*/
