body, html{
	margin:0;
	padding:0;
}
body {
	min-width:720px; /* Prevent content from becoming unreachable in Gecko */
}

/* the whole page should scrolls */
div#headerwrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 23px;
  margin: 0 auto;
  z-index: 500;
/*border-right-width:20px;*/
}

/* position:fixed for modern browsers - header should not scroll */
body>div#headerwrap {
	position:fixed;
}

/* set a left margin to compensate for IE/Win always making room for a scrollbar */
div#middlewrap {
/* set left margin and bottom padding for IE5/Win */
	padding:24px 0 0 0;
	margin-left:0;
/* set left margin and bottom padding for others */
	margin-left:16px;
}

/* set left margin for modern browsers */
body>div#middlewrap {
	margin-left:0;
}

div#headerwrap{
  background:lightgrey;
  color:#000;
  border-bottom:1px solid #888;
  font:normal 12px "lucida grande", tahoma, verdana, arial, sans-serif;
}
/* toolbar style ends here */

#toolbar_logo{
  position: absolute;
  right:15px;
  float:right;
  top:0px;
}

#user {
  position: absolute;
  right: 100px;
  float: right;
  top: 3px;
}

/* menu style starts here */
#menu{
  width:100%;
  float:left;
  margin-top:0px;
  margin-left:6px;
  text-align:left;
}

#menu a, #menu #menutitle{
  display:block;
  color:#000;
  white-space:nowrap;
  margin:0;
}

#menu a{
  text-decoration:none;
}

#menu a, #menu a:visited{
  color:#000;
}

#menu a:hover{
  color:#000;
}

#menu a:active{
  color:#060;
  background:#ccc;
}

#menu ul{
  left:0px;
  list-style:none;
  margin:0px;
  padding:0px;
  float:left;
  width:9em;
}

#menu li{
  position:relative;
  margin:0px;
  padding:4px;
}

#menu li li{
  background:lightgrey;
}

#menu ul ul{
  position:absolute;
  z-index:500;
  top:auto;
  display:none;
}

#menu ul ul ul{
  top:0;
  left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menu #menutitle:hover,div#menu ul:hover{
  color:#000;
}

div#menu li:hover{
  cursor:pointer;
  z-index:500;
  background:lightsteelblue;
}

div#menu li:hover ul ul,
div#menu li li:hover ul ul,
div#menu li li li:hover ul ul,
div#menu li li li li:hover ul ul
{display:none;}

div#menu li:hover ul,
div#menu li li:hover ul,
div#menu li li li:hover ul,
div#menu li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand 

#menu a.x, #menu a.x:visited{
color:#000;
}
#menu a.x:hover{
color:#a00;
}
*/
#menu a.x:active{
  color:#060;
  background:#ccc;
}

/*
#menu #menutitle, #menu a{
  height:10%;
}*/
