html,
body {
	margin:0 !important;
	padding:0;
	height:100%; /* 100 % height */
}
html>body #yaneltoolbar_headerwrap {height:23px;} /* 100 % height */
#yaneltoolbar_headerwrap {
	width:100%;
	height:23px;
	background:lightgrey;
	border-bottom:1px solid #888;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 13px;
}
html>body #yaneltoolbar_headerwrap {
	position:fixed;
	top:0px;
	z-index:10000; /* Prevent certain problems with form controls */
}
html>body #yaneltoolbar_middlewrap {height:100%;padding:23px 1em;} /* 100 % height */
/* toolbar style ends here */

#yaneltoolbar_logo{
  position: absolute;
  right:15px;
  float:right;
  top:0px;
}

#yaneltoolbar_info {
  position: absolute;
  right: 100px;
  float: right;
  top: 3px;
}

/* menu style starts here */
#yaneltoolbar_menu{
  width:100%;
  float:left;
  margin-top:0px;
  margin-left:6px;
  text-align:left;
}

#yaneltoolbar_menu a, #yaneltoolbar_menu #yaneltoolbar_menutitle{
  display:block;
  color:#000;
  white-space:nowrap;
  margin:0;
}

#yaneltoolbar_menutitle {
  padding-right:70px;
}

#yaneltoolbar_menu a{
  text-decoration:none;
}

#yaneltoolbar_menu a, #yaneltoolbar_menu a:visited{
  color:#000;
}

#yaneltoolbar_menu a:hover{
  color:#000;
}

#yaneltoolbar_menu a:active{
  color:#060;
  background:#ccc;
}

#yaneltoolbar_menu ul{
  left:-1px;
  list-style:none;
  margin:0px;
  padding:0px;
  float:left;
  width:auto;
  white-space: nowrap;
}

#yaneltoolbar_menu li{
  position:relative;
  margin:1px;
  padding:2px;
}

#yaneltoolbar_menu li li{
  background:lightgrey;
  padding:4px;
}

#yaneltoolbar_menu ul ul{
  position:absolute;
  z-index:500;
  top:auto;
  display:none;
  background:#888;
}

#yaneltoolbar_menu ul ul ul{
  top:-1px;
  left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#yaneltoolbar_menu #yaneltoolbar_menutitle:hover,div#yaneltoolbar_menu ul:hover{
  color:#000;
}

div#yaneltoolbar_menu li:hover{
  cursor:pointer;
  z-index:500;
  background:lightsteelblue;
}

div#yaneltoolbar_menu li:hover ul ul,
div#yaneltoolbar_menu li li:hover ul ul,
div#yaneltoolbar_menu li li li:hover ul ul,
div#yaneltoolbar_menu li li li li:hover ul ul
{display:none;}

div#yaneltoolbar_menu li:hover ul,
div#yaneltoolbar_menu li li:hover ul,
div#yaneltoolbar_menu li li li:hover ul,
div#yaneltoolbar_menu li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand 

#yaneltoolbar_menu a.x, #yaneltoolbar_menu a.x:visited{
color:#000;
}
#yaneltoolbar_menu a.x:hover{
color:#a00;
}
*/
#yaneltoolbar_menu a.x:active{
  color:#060;
  background:#ccc;
}

/*
#yaneltoolbar_menu #yaneltoolbar_menutitle, #yaneltoolbar_menu a{
  height:10%;
}*/

.yaneltoolbar_menuicon{
  vertical-align:middle;
  margin-right:4px;
}
