#yaneltoolbar_headerwrap {
	position:absolute;
	z-index:10000;
	height:24px;
	left:0px;
}

#yaneltoolbar_headerwrap {
  top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
}

#yaneltoolbar_middlewrap {
  padding:20px;
}

#yaneltoolbar_menu ul li{
  float:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? "none" : "left");
  width:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? "none" : "100%");
}

#yaneltoolbar_menu ul{
  width:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? "auto" : "9em");
}