<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <distributable/>

  <display-name>Yanel</display-name>
  <description>Yanel</description>

  <servlet>
    <servlet-name>YanelServlet</servlet-name>
    <servlet-class>org.wyona.yanel.servlet.YanelServlet</servlet-class>

    <init-param>
      <param-name>exception-and-info-screen-xslt</param-name>
      <param-value>xslt/xmlInfo2xhtml.xsl</param-value>
    </init-param>

    <init-param>
     <param-name>login-screen-xslt</param-name>
     <param-value>xslt/login-screen.xsl</param-value>
    </init-param>

    <!-- Enable resp. disable toolbar functionality. For security and performance reasons one might want to disable the toolbar functionality completely with this parameter -->
    <init-param>
     <param-name>toolbar-master-switch</param-name>
     <param-value>on</param-value>
     <!--<param-value>off</param-value>-->
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>YanelServlet</servlet-name>
    <url-pattern>/</url-pattern>
    <!--
    <url-pattern>/servlet/Yanel</url-pattern>
    -->
  </servlet-mapping>
</web-app>
