<?xml version="1.0"?>

<policy xmlns="http://www.wyona.org/security/1.0" use-inherited-policies="false">
  <usecase id="view">
    <user id="lenya" permission="true"/>
  </usecase>
</policy>
