<?xml version="1.0"?>

<policy xmlns="http://www.wyona.org/security/1.0">

  <role id="view">
    <world permission="true"/>   
  </role>

  <role id="open">
    <world permission="true"/> 
  </role>

  <role id="write">
    <world permission="true"/> 
  </role>

</policy>
