div.creatorFileBrowser table {
border-collapse:collapse;
  width:100%;
  border:1px solid;
  border-color:#999999;
}
div.creatorFileBrowser table td.fileBrowserNewName {
  width:100%;
  border-bottom:1px solid;
  border-color:#999999;
}
div#lookup #resourceCreatorSaveAsTable {
  width:100%;
}
div#lookup #lookupfilesTable {
  width:100%;
}
div#lookup #lookupfiles {
  height:160px;
  overflow:auto;
  position:relative;
}
div#lookup .lookupicon {
  border:0;
}
div#lookup table {
  border-collapse:collapse;
  border-color:#999999;
}
div#lookup td {
  border:1px solid;
  border-color:#999999;
  padding:2px;
}
div#lookup th {
  border:1px solid;
  border-color:#999999;
  background-color:#f7f7f7;
  padding:2px;
}