<?xml version="1.0"?>

<policy xmlns="http://www.wyona.org/security/1.0">

  <role id="view">
    <world permission="false"/>
    <user id="lenya" permission="true"/>
  </role>

  <role id="open">
    <user id="lenya" permission="true"/>
  </role>

  <role id="write">
    <user id="lenya" permission="true"/>
  </role>

  <role id="create">
    <user id="lenya" permission="true"/>
  </role>

  <role id="toolbar">
    <user id="lenya" permission="true"/>
  </role>

</policy>
