<config host="${webtest.config.host}"
        port="${webtest.config.port}"
        protocol="${webtest.config.protocol}"
        basepath="${webtest.config.basepath}">

<!-- See http://webtest.canoo.com/webtest/manual/config.html -->

  <header name="Accept-Language" value="en"/> <!-- Use 'english' as browser language -->

<!--
  <option name="JavaScriptEnabled" value="false"/>
-->
  <option name="JavaScriptEnabled" value="true"/>
  <option name="ThrowExceptionOnScriptError" value="false"/>
  <option name="ThrowExceptionOnFailingStatusCode" value="false"/>
</config>
